* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #F1F1F1;
}

.search {
  width: 80%;
  margin: 4% auto;
  font-size: 0;
}

.search-input {
  width: calc(100% - 120px);
  vertical-align: middle;
  border: 0;
  background: transparent;
  font-size: 5.5rem;
  color: #ec5a62;
}
  input::placeholder {
    color: #c2c2c2;
  }

.search-button {
  width: 120px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 0;
  background: none;
}

.search-categories {
  max-width: 80%;
  margin: 0 auto;
  font-size: 0;
}

[class|="container"] {
  display: inline-block;
  width: 30%;
  height: 100%;
}

[class|="category-name"] {
  display: inline-block;
  margin-bottom: 5%;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #c2c2c2;
}

ul {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  font-size: 0;
}

.category-item, .category-item * {
  display: inline-block;
}

[class|="categories"] {
  padding: 0;
  margin: 0;
  font-size: 0;
}

.container-popular, .container-recent {
  margin-left: 5%;
}

.categories-people .category-item {
  border: 0;
  border-radius: 5%;
}
  .category-item {
    width: 100%;
    position: relative;
    margin-top: 1.5%;
    background: rgba(118,117,128,0.05);
  }
  .item-link {
    width: 100%;

    padding: 2%;
    color: #c2c2c2;
  }
    .item-link:hover {
        background: rgba(118,117,128,0.1);
        color: #ec5a62;
    }
    .item-txt {
      width: calc(100% - 50px);
      margin: 0;
      padding-left: 10px;
      vertical-align: middle;
      text-decoration: none;
      font-size: 0.9rem;
      font-weight: bold;
    }

.categories-people .item-img {
  width: 50px;
  vertical-align: middle;
  border: 0;
  border-radius: 100%;
}

.categories-popular .item-img {
  width: 50px;
  vertical-align: middle;
  border: 0;
}

.categories-recent .item-img {
  width: 50px;
  vertical-align: middle;
  border: 0;
}
